$primary-color: #eee;

$neon-color: #48928c;

$black-color: #000;

$color-grey-light-1: #eeeeee;
$color-grey-light-2: #dddddd;

$color-grey-dark: #777;
$color-grey-dark-1: #999;
$color-grey-dark-2: #333;

$color-white: #fff;

// Default Font Size
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
