@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden; }

/* Google Font Family Imports */
body {
  font-family: "Spartan", sans-serif !important;
  font-weight: 400;
  line-height: 1.6; }

.heading-primary {
  font-size: 15rem;
  font-weight: 600;
  padding-left: 2.5rem;
  text-transform: uppercase; }

.heading-secondary {
  font-size: 6rem;
  font-weight: 600;
  padding-left: 2.5rem;
  text-transform: capitalize; }

.heading-secondary-sub {
  font-size: 4em;
  font-weight: 400;
  padding-left: 2.5rem;
  text-transform: capitalize; }

.paragraph {
  font-size: 2.8rem;
  font-weight: 400;
  text-align: justify; }

.u-center {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-huge {
  margin-bottom: 10rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.color-neon {
  color: #48928c; }

.color-white {
  color: #fff; }

.color-black {
  color: #000; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 85vh;
  background-image: url(../images/bg/slider-bg.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__menu-box {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-5rem, -50%);
    cursor: pointer; }
  .header__menu {
    height: 5rem; }
  .header__imgvid-box {
    position: relative; }
  .header__img-box {
    position: absolute;
    top: 10rem;
    left: -39rem; }
  .header-image {
    height: 62rem; }
  .header__vid-box {
    position: absolute;
    top: 10rem;
    left: 42rem; }
  .header-video {
    height: 62rem; }
  .header__nav-box {
    position: relative; }
  .header__nav-list {
    position: absolute;
    top: 72rem;
    left: -38rem;
    list-style: none;
    text-align: center; }
  .header__nav-item {
    margin: 1rem;
    float: left; }
  .header__nav-link:link, .header__nav-link:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 2.5rem;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize; }
  .header__nav-link:hover, .header__nav-link:active {
    color: #fff; }
  .header__nav-link:focus {
    text-decoration: none;
    border-style: none; }
  .header__nav-box-1 {
    position: relative; }
  .header__nav-list-1 {
    position: absolute;
    top: 72rem;
    right: -95rem;
    list-style: none;
    text-align: center; }
  .header__nav-item-1 {
    margin: 1rem;
    float: right; }
  .header__nav-link-1:link, .header__nav-link-1:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 2.5rem;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize; }
  .header__nav-link-1:hover, .header__nav-link-1:active {
    color: #fff; }
  .header__nav-link-1:focus {
    text-decoration: none;
    border-style: none; }

.story__text-box {
  position: relative; }

.story__text-para {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%); }
  .story__text-para:not(:last-child) {
    margin-bottom: 3rem; }

.section-domain {
  padding: 10rem 0; }

.section-our-story {
  padding: 5rem 0; }
